.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 88px;
    padding: 30px;
    height: 50px;
}

#login-form input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: rgba(233, 233, 233, 0.8);

}

#login-form input::placeholder{
    text-align: center;
}

#greeting {
    font-size: 40px;
}